<f:layout name="Default" />

<f:section name="Main">
    <div class="tx-account-confirm">
        <f:if condition="{confirmationSuccess}">
            <f:then>
                <h1>E-Mail-Adresse bestätigt</h1>
                <div class="alert alert-success" role="alert">
                    Ihre E-Mail-Adresse wurde erfolgreich bestätigt. Sie können sich jetzt anmelden.
                </div>
                <p>
                    <f:link.action action="index" controller="Login" pluginName="Login" extensionName="account" class="btn btn-primary">
                        Zur Anmeldung
                    </f:link.action>
                </p>
            </f:then>
            <f:else>
                <h1>Bestätigung fehlgeschlagen</h1>
                <div class="alert alert-danger" role="alert">
                    Der Bestätigungslink ist ungültig oder abgelaufen. Bitte registrieren Sie sich erneut.
                </div>
                <p>
                    <f:link.action action="index" controller="Registration" pluginName="Registration" extensionName="account">
                        Zur Registrierung
                    </f:link.action>
                </p>
            </f:else>
        </f:if>
    </div>
</f:section>
