<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Content">
    <div class="tx-account-password-reset">
        <h2>Passwort zurücksetzen</h2>
        <f:if condition="{emailSent}">
            <div class="alert alert-success">
                Falls ein Konto mit dieser E-Mail-Adresse existiert, wurde eine E-Mail versendet.
            </div>
        </f:if>
        <f:form action="passwordReset" method="post">
            <div class="form-group">
                <label for="email">E-Mail-Adresse</label>
                <f:form.textfield id="email" name="email" type="email" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Link anfordern</button>
        </f:form>
    </div>
</f:section>
</html>
