<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Content">
    <div class="tx-account-password-reset">
        <h2>Neues Passwort setzen</h2>
        <f:if condition="{resetSuccess}">
            <f:then>
                <div class="alert alert-success">
                    Dein Passwort wurde erfolgreich geändert. <f:link.action action="index" controller="Login">Jetzt anmelden</f:link.action>
                </div>
            </f:then>
            <f:else>
                <f:form action="passwordReset" method="post">
                    <f:form.hidden name="token" value="{token}" />
                    <div class="form-group">
                        <label for="newPassword">Neues Passwort</label>
                        <f:form.password id="newPassword" name="newPassword" class="form-control" required="required" />
                    </div>
                    <button type="submit" class="btn btn-primary">Passwort ändern</button>
                </f:form>
            </f:else>
        </f:if>
    </div>
</f:section>
</html>
