includes:
  - phpstan-baseline.neon
  - vendor/saschaegerer/phpstan-typo3/extension.neon

parameters:
  level: 5
  paths:
    - Classes
  scanFiles:
    - vendor/maispace/mai-member/Classes/Domain/Model/Member.php
  scanDirectories:
    - vendor/maispace/mai-member/Classes/Domain/Model/
