<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<body>
    <p>
        <f:if condition="{firstName}">
            <f:then><f:translate key="email.confirm.greetingNamed" extensionName="mai_account" arguments="{0: firstName}" default="Hello {firstName},"/></f:then>
            <f:else><f:translate key="email.confirm.greeting" extensionName="mai_account" default="Hello,"/></f:else>
        </f:if>
    </p>
    <p><f:translate key="email.confirm.body" extensionName="mai_account" default="Please confirm your account by clicking the link below:"/></p>
    <p><a href="{confirmUrl}">{confirmUrl}</a></p>
    <p><f:translate key="email.confirm.disclaimer" extensionName="mai_account" default="If you did not create this account you can ignore this email."/></p>
</body>
</html>
