<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="main">
    <div class="mai-mfa-disable">
        <h2><f:translate key="mfa.disable" extensionName="mai_account"/></h2>
        <f:flashMessages/>
        <p><f:translate key="mfa.disable.warning" extensionName="mai_account" default="Are you sure you want to disable two-factor authentication? This will make your account less secure."/></p>
        <f:form action="disable" controller="Mfa" method="post">
            <div class="form-group">
                <label for="code"><f:translate key="mfa.code" extensionName="mai_account" default="Authentication Code"/></label>
                <f:form.textfield id="code" name="code" class="form-control" required="true" autocomplete="one-time-code" inputmode="numeric" maxlength="6"/>
            </div>
            <div class="form-actions">
                <f:form.submit value="{f:translate(key: 'mfa.disable', extensionName: 'mai_account')}" class="btn btn-danger"/>
                <f:link.action action="profile" controller="Account" class="btn btn-secondary"><f:translate key="action.cancel" extensionName="mai_account" default="Cancel"/></f:link.action>
            </div>
        </f:form>
    </div>
</f:section>
</html>
