<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="main">
    <div class="mai-story-list">
        <h2><f:translate key="story.list" extensionName="mai_account"/></h2>
        <f:flashMessages/>
        <f:form.validationResults>
            <f:if condition="{validationResults.flattenedErrors}">
                <div class="mai-story-list__errors" role="alert">
                    <f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyName">
                        <f:for each="{errors}" as="error">
                            <p class="mai-story-list__error">{error.message}</p>
                        </f:for>
                    </f:for>
                </div>
            </f:if>
        </f:form.validationResults>
        <f:if condition="{stories}">
            <f:then>
                <div class="mai-story-list__items">
                    <f:for each="{stories}" as="story">
                        <article class="mai-story-list__item">
                            <h3 class="mai-story-list__title">
                                <f:link.action action="detail" arguments="{story: story}">{story.title}</f:link.action>
                            </h3>
                            <div class="mai-story-list__content">
                                <f:format.crop maxCharacters="200" append="...">{story.content}</f:format.crop>
                            </div>
                            <footer class="mai-story-list__meta">
                                <f:if condition="{story.publishedAt}">
                                    <time datetime="{f:format.date(date: story.publishedAt, format: 'c')}">
                                        <f:format.date date="{story.publishedAt}" format="{settings.dateFormat}"/>
                                    </time>
                                </f:if>
                            </footer>
                        </article>
                    </f:for>
                </div>
                <f:render partial="Pagination" arguments="{pagination: pagination, paginator: paginator}"/>
            </f:then>
            <f:else>
                <p class="mai-story-list__empty"><f:translate key="story.noStories" extensionName="mai_account"/></p>
            </f:else>
        </f:if>
        <div class="mai-story-list__actions">
            <f:link.action action="submit" class="button"><f:translate key="story.submit" extensionName="mai_account" default="Submit a story"/></f:link.action>
        </div>
    </div>
</f:section>
</html>
