<f:layout name="Default" />

<f:section name="Main">
    <div class="tx-account-profile-edit">
        <h1>Profil bearbeiten</h1>

        <f:if condition="{updated}">
            <div class="alert alert-success" role="alert">
                Ihr Profil wurde erfolgreich aktualisiert.
            </div>
        </f:if>

        <f:form action="updateProfile" controller="Profile" pluginName="Profile" extensionName="account" method="post">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="profile-firstname">Vorname</label>
                        <f:form.textfield
                            name="tx_account_profile[firstName]"
                            id="profile-firstname"
                            class="form-control"
                            value="{user.firstName}"
                            autocomplete="given-name"
                        />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="profile-lastname">Nachname</label>
                        <f:form.textfield
                            name="tx_account_profile[lastName]"
                            id="profile-lastname"
                            class="form-control"
                            value="{user.lastName}"
                            autocomplete="family-name"
                        />
                    </div>
                </div>
            </div>

            <div class="form-group mt-3">
                <label for="profile-telephone">Telefon</label>
                <f:form.textfield
                    name="tx_account_profile[telephone]"
                    id="profile-telephone"
                    class="form-control"
                    type="tel"
                    value="{user.telephone}"
                    autocomplete="tel"
                />
            </div>

            <div class="form-group mt-3">
                <label for="profile-address">Straße &amp; Hausnummer</label>
                <f:form.textfield
                    name="tx_account_profile[address]"
                    id="profile-address"
                    class="form-control"
                    value="{user.address}"
                    autocomplete="street-address"
                />
            </div>

            <div class="row mt-3">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="profile-zip">PLZ</label>
                        <f:form.textfield
                            name="tx_account_profile[zip]"
                            id="profile-zip"
                            class="form-control"
                            value="{user.zip}"
                            autocomplete="postal-code"
                        />
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="profile-city">Ort</label>
                        <f:form.textfield
                            name="tx_account_profile[city]"
                            id="profile-city"
                            class="form-control"
                            value="{user.city}"
                            autocomplete="address-level2"
                        />
                    </div>
                </div>
            </div>

            <div class="mt-4">
                <f:form.submit value="Profil speichern" class="btn btn-primary" />
                <f:link.action action="dashboard" controller="Profile" pluginName="Profile" extensionName="account" class="btn btn-secondary ms-2">
                    Abbrechen
                </f:link.action>
            </div>
        </f:form>
    </div>
</f:section>
